@use "../../styles/functions" as *;

.warehouse-table {
    &__card {
        gap: pxToRem(16);
        column-gap: pxToRem(45);
    }

    &__link {
        display: flex;
        flex-direction: row;
    }
}