@use "../../styles/functions" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.warehouse-table-wrapper {
    transform: translateY(-64px);

    @include tablet {
        transform: translateY(-94px);
    }
}

.warehouse-table {

    &__card {
        gap: pxToRem(16);
        column-gap: pxToRem(45);
    }

    &__link {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        color: $color-primary-indigo;
    }

    @include tablet {

        &__warehouse {
            flex: 1.25;
            order: 1;
        }

        &__name {
            flex: 1;
            order: 3;
        }

        &__address {
            flex: 1;
            order: 2;
        }

        &__contact {
            flex: 1.5;
            order: 4;
        }

        &__actions {
            flex: 0.75;
            order: 5;
        }
    }
}