@use "../../styles/functions" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.warehouse-details {

    .typography--h4,
    .typography--p2 {
        margin-top: 0;
        margin-bottom: pxToRem(4);
    }

    &__header {
        display: flex;
        flex-direction: column;
        padding: pxToRem(16) pxToRem(24);
        gap: pxToRem(36);
        border-bottom: 1px solid $color-secondary-cloud;

        @include tablet {
            padding: pxToRem(24) pxToRem(32);
            flex-direction: row;
            justify-content: flex-start;
            gap: pxToRem(40);
        }

        @include desktop {
            padding: pxToRem(24) pxToRem(40);
        }
    }

    &__field {
        gap: pxToRem(4);
    }

    &__address {
        @include tablet {
            padding-right: pxToRem(32);
            flex: 1;
            border-right: 1px solid $color-secondary-cloud;
        }

        @include desktop {
            padding-right: pxToRem(156);
        }
    }

    &__contact-wrapper {
        display: flex;
        column-gap: pxToRem(16);
        flex: 2;

        @include tablet {
            column-gap: pxToRem(24);
        }

        @include desktop {
            column-gap: pxToRem(28);
        }
    }

    &__name {

        flex: 1;
    }

    &__info {

        flex: 1;
    }

    &__value {
        display: flex;
        flex-direction: column;
    }
}