@use "../../styles/functions" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.table-row-header {
    display: none;

    .typography--h4 {
        margin-top: 0;
        margin-bottom: 0;
    }

    @include tablet {
        display: flex;
        padding: pxToRem(11) pxToRem(32) pxToRem(11) pxToRem(32);
        column-gap: pxToRem(45);
        box-shadow: 0px 2px 5px 0px rgba($color-primary-black, 0.1);
    }

    @include desktop {
        padding: pxToRem(11) pxToRem(40) pxToRem(11) pxToRem(40);
    }

    &__cell {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &--actions {
            justify-content: center;
            text-transform: uppercase;
        }
    }

    &__sort-button {
        all: unset;
        cursor: pointer;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        line-height: 1;
        background-color: $color-background-light-grey;
    }

    &__sort-icon {
        display: block;
        transform: scale(0.75);
        transform-origin: center;
    }
}