@use "../../styles/variables" as *;
@use "../../styles/functions" as *;
@use "../../styles/mixins" as *;

.nav {
    background-color: $color-background-graphite;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem 5rem 1rem;
    gap: 1.5rem;

    &__logo {
        display: flex;
        height: 1.75rem;
        width: auto;
    }

    &__tabs {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    &__tab {
        text-decoration: none;
        color: $color-primary-white;

        &--active {
            background-color: $color-primary-black;
            border-radius: 20px;
            padding: 0.5rem 2rem;
        }

    }

}