@use "../../styles/variables" as *;
@use "../../styles/functions" as *;
@use "../../styles/mixins" as *;


.form-fields{
    &__label-text{
        margin: auto;
        margin-bottom: pxToRem(4);
    }
    &__message{
        // code for the icon
        &::before{
            content: "";
            width: 13px;
            height: 13px;
            background-color: $color-supporting-red;
            mask: url("../../assets/Icons/error24px.svg") no-repeat left;
            mask-size: contain;
            padding-top: 4px;
            padding-right: 8px;
        }
        visibility: hidden; 
        // ^ controls if the error message is shown
        display: flex;
        align-content: center;
        color: $color-supporting-red;
        margin: auto;
        margin-top: 4px;
        &--error{
            visibility: visible; 
    }
    }
    &__input{
        box-sizing: border-box;
        font-family: $font-family-primary;
        border-radius: pxToRem(20);
        padding-left: pxToRem(16);
        padding-right: pxToRem(16);
        height: pxToRem(36);
        width: 100%;

        // p2 typography
        color: $color-primary-black;
        font-size: pxToRem(13);
        line-height: pxToRem(20);

        &::-webkit-input-placeholder{
            color: $color-secondary-slate
        }

        // border logic
        border: $color-secondary-cloud solid 1px;
        &:focus{
            outline: none;
            border: $color-primary-indigo solid 1px;
        }
       
        @include tablet {
            height: pxToRem(38);
            
            // p2 typography
            font-size: pxToRem(14);
            line-height: pxToRem(22);
        }

        &--error{
            border: $color-supporting-red solid 1px;
        }
    }
    &__text_area{
           box-sizing: border-box;
        font-family: $font-family-primary;
        border-radius: pxToRem(20);
        padding-left: pxToRem(16);
        padding-right: pxToRem(16);
        height: pxToRem(120);
        width: 100%;

        // p2 typography
        color: $color-primary-black;
        font-size: pxToRem(13);
        line-height: pxToRem(20);

        &::-webkit-input-placeholder{
            color: $color-secondary-slate
        }

        // border logic
        border: $color-secondary-cloud solid 1px;
        &:focus{
            outline: none;
            border: $color-primary-indigo solid 1px;
        }
       
        @include tablet {
            height: pxToRem(120);
            
            // p2 typography
            font-size: pxToRem(14);
            line-height: pxToRem(22);
        }

    }

    &__dropdown {
        box-sizing: border-box;
        font-family: $font-family-primary;
        border-radius: pxToRem(20);
        padding-left: pxToRem(16);
        padding-right: pxToRem(16);
        height: pxToRem(36);
        width: 100%;

        // dropdown arrow
        appearance: none;

         // p2 typography
        color: $color-primary-black;
        font-size: pxToRem(13);
        line-height: pxToRem(20);

        &::-webkit-input-placeholder{
            color: $color-secondary-slate
        }
        
         // border logic
        border: $color-secondary-cloud solid 1px;
        &:focus{
            outline: none;
            border: $color-primary-indigo solid 1px;
        }
        &-wrapper {
            position: relative;
            width: 100%;
        }
        &-icon {
            position: absolute;
            right: pxToRem(16);
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
        }

    }
    &__radio {
        display: flex;
    }

    &__radio-group{
       display: flex;
       justify-content: space-between;

       padding-right: pxToRem(72);
       font-size: pxToRem(13);

       @include tablet {
        padding-right: pxToRem(180);

       }
    }
    &__radio-input {
        appearance: none;
        width: pxToRem(16);
        height: pxToRem(16);;
        border: 1px solid $color-secondary-cloud;
        border-radius: 50%;
        margin-right: pxToRem(8);
        &:checked {
            border: $color-primary-indigo;
            background-color: $color-primary-indigo;;

        }
    }
   
}
