@use "../../styles/variables" as *;
@use "../../styles/functions" as *;
@use "../../styles/mixins" as *;

.footer {
  //position: fixed;
 
  text-align: center;
  padding: pxToRem(16) 0;

  &__copy {
    font-size: pxToRem(12);
    font-weight: 400;
    color: $color-secondary-slate;
  }
}