@use "../../styles/functions" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.message {
    padding: pxToRem(32) pxToRem(24) pxToRem(24) pxToRem(24);

    @include tablet {
        padding: pxToRem(32) pxToRem(32) pxToRem(22) pxToRem(32);
    }

    @include desktop {
        padding: pxToRem(32) pxToRem(40) pxToRem(22) pxToRem(40);
    }
}

.warehouse-details {
    margin: pxToRem(0) pxToRem(16);
    background-color: $color-background-light-grey;

    @include tablet {
        margin: pxToRem(0) pxToRem(32);
    }

    @include desktop {
        margin: pxToRem(0) pxToRem(130);
        ;
    }
}